<title>Generate Github Token</title>

{% extends 'layouts/blank.html' %}

{% block content %}

<style>
  .content-wrapper {
    margin-left: 50px; /* Applique une marge de 50px à gauche */
  }
  .select-button {
    height: 30px;
    display: flex;
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    padding: 0 10px;
    border: none;
  }
</style>


<div class="content-wrapper">
<br><br><br>
<h2>Generate a github fine-grained secure token in less than 1 minute</h2>
<br><br>
<p style="color: white">1. Navigate to your Git account settings, then <a href="https://github.com/settings/personal-access-tokens" target="_blank" rel="noopener noreferrer"> Developer Settings </a>Click the Personal access tokens menu, then click Generate new token.</p>
<br><br>
<img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748914641/github-token-1_cvjpry.png" alt="Capture 1">
<br><br>
<p style="color: white">2. Write a name for your token.</p>
<p style="color: white">- Select 'Only Select Repositories'.</p>
<p style="color: white">- Select the repositories that you want to work on with Kodoshin.</p>


<br><br>
<img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748914640/github-token-2_mmjphn.png" alt="Capture 2">
<br><br>
<p style="color: white">3. Give 'Read Only' permission to 'Content'.</p>
<br><br>
<img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748914640/github-token-3_mrhv9g.png" alt="Capture 3">
<br><br>
<p style="color: white">4. Give 'Read and Write' permission to webhooks (Webhooks are essential for activating real time synchronization between github code changes and AI processing) </p>
<br><br>
<img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748914640/github-token-4_nl9k5x.png" alt="Capture 3" style="max-height: 400px">
<br><br>
<p style="color: white">5. Generate the token </p>
<br><br>
<img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748914640/github-token-5_qhdg7r.png" alt="Capture 3" style="max-height: 400px">
<br><br>
    <p style="color: white">6. Copy the token </p>
<br><br>
<img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748914640/github-token-6_uxbd1p.png" alt="Capture 3" style="max-height: 400px">
<br><br>
    <p style="color: white">7. Copy the token in your profile <a href="{% url 'profile-settings' %}" target="_blank" rel="noopener noreferrer">settings</a> </p>
<br><br>
<img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748914640/github-token-7_d72fjr.png" alt="Capture 3" style="max-height: 400px">
<br><br>
{# ajoutez autant de <img> que nécessaire #}

{% endblock %}

</div>