<title>Token Tuto</title>

{% extends 'layouts/blank.html' %}

{% block content %}

<style>
  .content-wrapper {
    margin-left: 50px; /* Applique une marge de 50px à gauche */
  }
  .select-button {
    height: 30px;
    display: flex;
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    padding: 0 10px;
    border: none;
  }
</style>


<div class="content-wrapper">
<br><br><br>
<h2>Generate github token</h2>
<br><br>
<p style="color: white">1. Navigate to your Git account settings, then <a href="https://github.com/settings/tokens" target="_blank" rel="noopener noreferrer"> Developer Settings </a>Click the Personal access tokens menu, then click Generate new token.</p>
<br><br>
<img src="https://kodoshinstaticfiles.blob.core.windows.net/mediafiles/images/tokentuto0001.png" alt="Capture 1">
<br><br>
<p style="color: white">2. Select repo as the scope. Select admin:repo_hook if you want to activate real time synchronization.</p>
<p style="color: white">- Tokens (classic) : The token will be applicable for all the specified actions in your repositories.</p>
<p style="color: white">- Fine-grained tokens : The token will be applicable for all the specified actions only in the repositories that you choose.</p>


<br><br>
<img src="https://kodoshinstaticfiles.blob.core.windows.net/mediafiles/images/tokentuto0002.png" alt="Capture 2">
<br><br>
<p style="color: white">3. Click Generate Token. GitHub will display the personal access token only once. Ensure that you copy the token and store it in a safe space.</p>
<br><br>
<img src="https://kodoshinstaticfiles.blob.core.windows.net/mediafiles/images/tokentuto0003.png" alt="Capture 3">
<br><br>
<p style="color: white">4. Now you will add the token in the secure fields in your <a href="{% url 'profile-settings' %}" target="_blank" rel="noopener noreferrer">settings</a> form.</p>
<br><br>
<img src="https://kodoshinstaticfiles.blob.core.windows.net/mediafiles/images/tokentuto0004.png" alt="Capture 3" style="max-height: 400px">
<br><br>

{# ajoutez autant de <img> que nécessaire #}

{% endblock %}

</div>