<title>Repository files</title>

{% extends 'layouts/blank.html' %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'git_auth/css/styles.css' %}">

{% block content %}


<form method="POST" action="{% url 'process_selected_files' git_repo_id=file_tree.git_repo_id repo_name=file_tree.repo_name %}">
    {% csrf_token %}
    <input type="hidden" name="project_id" value="{{ project.id }}">
    <div class="container">
        <h1 class="repo-name" style="color: black">{{ file_tree.repo_name }}</h1>
        <ul class="file-tree">
            {% for item in file_tree.file_tree %}
                {% include 'git_auth/file_item.html' with item=item %}
            {% endfor %}
        </ul>
    </div>
    <button type="submit">Submit</button>
</form>


<script>
document.addEventListener("DOMContentLoaded", function() {
    // Sélection de tous les dossiers
    const folders = document.querySelectorAll('.folder');

    folders.forEach(folder => {
        folder.addEventListener('click', function() {
            console.log("Clique sur le dossier :", folder.innerText);
            const parentLi = folder.closest('li.file-item');
            if (!parentLi) return;

            const subUl = parentLi.querySelector('ul.file-tree');
            if (subUl) {
                subUl.classList.toggle('hidden');
            }
        });
    });

    // Propagate check/uncheck state from a folder to all its child checkboxes
    const fileCheckboxes = document.querySelectorAll('.file-checkbox');
    fileCheckboxes.forEach(checkbox => {
        checkbox.addEventListener('change', function() {
            const li = this.closest('li.file-item');
            if (!li) return;
            // If the list item contains a child tree, it represents a folder
            const childTree = li.querySelector('ul.file-tree');
            if (childTree) {
                const childCheckboxes = childTree.querySelectorAll('.file-checkbox');
                childCheckboxes.forEach(childCheckbox => {
                    childCheckbox.checked = this.checked;
                });
            }
        });
    });
});
</script>

{% endblock %}









