<title>Plans & Rikos</title>

{% extends 'base.html' %}
{% load static %}

{% block layout %}

<script src="https://js.stripe.com/v3/"></script>
<script>
  const stripe = Stripe('{{ stripe_public_key }}');
  document.querySelectorAll('.buy-button').forEach(btn => {
    btn.addEventListener('click', () => {
      const offerId = btn.dataset.offerId;
      fetch("{% url 'create_checkout_session' 0 %}".replace('0', offerId), {
        method: 'POST',
        headers: {
          'X-CSRFToken': '{{ csrf_token }}',
          'Content-Type': 'application/json'
        },
      })
      .then(res => res.json())
      .then(data => stripe.redirectToCheckout({ sessionId: data.sessionId }))
      .then(result => { if (result.error) alert(result.error.message); })
      .catch(e => console.error(e));
    });
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const monthlyBtn = document.getElementById('monthly-btn');
    const yearlyBtn  = document.getElementById('yearly-btn');

    const showMonthly = () => {
        monthlyBtn.classList.add('active');
        yearlyBtn.classList.remove('active');
        document.querySelectorAll('.monthly-plan').forEach(el => el.classList.remove('hidden-plan'));
        document.querySelectorAll('.yearly-plan').forEach(el  => el.classList.add('hidden-plan'));
    };

    const showYearly = () => {
        yearlyBtn.classList.add('active');
        monthlyBtn.classList.remove('active');
        document.querySelectorAll('.yearly-plan').forEach(el  => el.classList.remove('hidden-plan'));
        document.querySelectorAll('.monthly-plan').forEach(el => el.classList.add('hidden-plan'));
    };

    monthlyBtn.addEventListener('click', showMonthly);
    yearlyBtn .addEventListener('click', showYearly);

    /* Default view = monthly */
    showMonthly();
  });
</script>


<div class="max-w-4xl ml-[15%] mt-[5rem]">
<h3 style="font-weight: bold">Pay As You Go</h3>
</div>



<div class="flex flex-col md:flex-row gap-6 justify-center">
  {% for offer in credit_offers %}
    <form action="{% url 'create_checkout_session' offer.id %}" method="post" style="background-color: unset;">
      {% csrf_token %}
      <button style="background-color: unset;" type="submit" class="buy-button">
        <div class="pricing-card">
          <div class="pricing-card-header">
            <img style="max-width: 30px;  display: inline;" src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1749095379/bolt_j4tbpk.svg" alt="magic"  >
            <div class="pricing-title">{{ offer.name }} Rikos</div>

            {% if offer.original_price and offer.price != offer.original_price %}
                <span class="pricing-price-promo">${{ offer.price|floatformat:0 }}</span>
                <span class="pricing-old-price">${{ offer.original_price|floatformat:0 }}</span>
            {% else %}
                <span class="pricing-price">${{ offer.price|floatformat:0 }}</span>
            {% endif %}
          </div>
        </div>
      </button>
    </form>
  {% endfor %}
</div>



<div class="max-w-4xl ml-[15%] mt-[2rem]">
<h3 style="font-weight: bold">Plans</h3>
</div>
<!-- ---------- SWITCH BUTTONS ---------- -->
<div class="pricing-toggle">
    <button id="monthly-btn" class="toggle-btn active">Monthly</button>
    <button id="yearly-btn"  class="toggle-btn">Annual (-20%)</button>
</div>
<!-- Ajouter muted dans class si on veut enlever un avantage -->
<div class="flex flex-col md:flex-row gap-6 justify-center">

  {% for plan in monthly_plans %}
  <div class="feature-card monthly-plan">
  <form action="{% url 'create_checkout_session_plan' plan.id %}" method="post" style="background-color: unset;">
    {% csrf_token %}
    <button style="background-color: unset;" type="submit" class="buy-button" {% if plan.monthly_price == 0 %} disabled style="cursor: default; opacity: 0.6;" {% endif %}>
      <div class="pricing-card" style="font-weight: bold">
        <div class="pricing-card-header">
          <div class="pricing-title">{{ plan.name }}</div>
          {% if plan.monthly_price and plan.monthly_price != plan.original_price %}
            <span class="pricing-price-promo">${{ plan.monthly_price|floatformat:0 }}</span>
            <span class="pricing-old-price">${{ plan.original_price|floatformat:0 }}</span>
          {% else %}
            <span class="pricing-price">${{ plan.monthly_price|floatformat:0 }}</span>
          {% endif %}
        </div>
        <div class="pricing-table-content">
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon">
            <div class="pricing-row-text">{{ plan.monthly_credits }} Rikos per month</div>
          </div>
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon">
            <div class="pricing-row-text">{{ plan.daily_credits }} free Rikos per day</div>
          </div>
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon">
            <div class="pricing-row-text">{{ plan.project_limits }} project(s)</div>
          </div>
          {% if plan.regeneration_attempts > 0 %}
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon">
            <div class="pricing-row-text">{{ plan.regeneration_attempts }} regeneration attemps (free)</div>
          </div>
          {% else %}
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon muted">
            <div class="pricing-row-text muted">regeneration attemps</div>
          </div>
          {% endif %}
          {% if plan.sync_with_github == True %}
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon">
            <div class="pricing-row-text">Automatic Github Sync.</div>
          </div>
          {% else %}
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon muted">
            <div class="pricing-row-text muted">Automatic Github Sync.</div>
          </div>
          {% endif %}
          {% if plan.allows_multibranch == True %}
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon">
            <div class="pricing-row-text">Work with Multi-Branch</div>
          </div>
          {% else %}
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon muted">
            <div class="pricing-row-text muted">Multi-Branch (only main)</div>
          </div>
          {% endif %}
          {% if plan.advanced_models == True %}
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon">
            <div class="pricing-row-text">Use Ultra models</div>
          </div>
          {% else %}
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon muted">
            <div class="pricing-row-text muted">Use Ultra models</div>
          </div>
          {% endif %}
          {% if plan.large_models == True %}
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon">
            <div class="pricing-row-text">Use large projects models</div>
          </div>
          {% else %}
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon muted">
            <div class="pricing-row-text muted">Use large projects models</div>
          </div>
          {% endif %}
          <div class="pricing-small-text">Per month</div>
        </div>
      </div>
    </button>
  </form>
  </div>
  {% endfor %}

  {% for plan in yearly_plans %}
  <div class="feature-card yearly-plan hidden-plan">
  <form action="{% url 'create_checkout_session_plan' plan.id %}" method="post" style="background-color: unset;">
    {% csrf_token %}
    <button style="background-color: unset;" type="submit" class="buy-button" {% if plan.monthly_price == 0 %} disabled style="cursor: default; opacity: 0.6;" {% endif %}>
      <div class="pricing-card" style="font-weight: bold">
        <div class="pricing-card-header">
          <div class="pricing-title">{{ plan.name }}</div>
          {% if plan.monthly_price and plan.monthly_price != plan.original_price %}
            <span class="pricing-price-promo">${{ plan.monthly_price|floatformat:0 }}</span>
            <span class="pricing-old-price">${{ plan.original_price|floatformat:0 }}</span>
          {% else %}
            <span class="pricing-price">${{ plan.monthly_price|floatformat:0 }}</span>
          {% endif %}
        </div>
        <div class="pricing-table-content">
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon">
            <div class="pricing-row-text">{{ plan.monthly_credits }} Rikos per month</div>
          </div>
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon">
            <div class="pricing-row-text">{{ plan.daily_credits }} free Rikos per day</div>
          </div>
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon">
            <div class="pricing-row-text">{{ plan.project_limits }} project(s)</div>
          </div>
          {% if plan.regeneration_attempts > 0 %}
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon">
            <div class="pricing-row-text">{{ plan.regeneration_attempts }} regeneration attemps (free)</div>
          </div>
          {% else %}
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon muted">
            <div class="pricing-row-text muted">regeneration attemps</div>
          </div>
          {% endif %}
          {% if plan.sync_with_github == True %}
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon">
            <div class="pricing-row-text">Automatic Github Sync.</div>
          </div>
          {% else %}
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon muted">
            <div class="pricing-row-text muted">Automatic Github Sync.</div>
          </div>
          {% endif %}
          {% if plan.allows_multibranch == True %}
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon">
            <div class="pricing-row-text">Work with Multi-Branch</div>
          </div>
          {% else %}
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon muted">
            <div class="pricing-row-text muted">Multi-Branch (only main)</div>
          </div>
          {% endif %}
          {% if plan.advanced_models == True %}
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon">
            <div class="pricing-row-text">Use Ultra models</div>
          </div>
          {% else %}
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon muted">
            <div class="pricing-row-text muted">Use Ultra models</div>
          </div>
          {% endif %}
          {% if plan.large_models == True %}
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon">
            <div class="pricing-row-text">Use large projects models</div>
          </div>
          {% else %}
          <div class="pricing-table-row">
            <img src="https://res.cloudinary.com/ddyepbtzx/image/upload/v1748721061/plans-features_rghsjl.png" alt="" class="pricing-icon muted">
            <div class="pricing-row-text muted">Use large projects models</div>
          </div>
          {% endif %}
          <div class="pricing-small-text">Per month, billed annually</div>
        </div>
      </div>
    </button>
  </form>
  </div>
  {% endfor %}


</div>

<div class="max-w-4xl ml-[15%]">
  <label>*daily Rikos are not automatic, you need to claim them.</label>
</div>

<style>
    /* Global Styles */
    body {
      background-color: #121212;
      color: #e0e0e0;
      font-family: 'Helvetica Neue', Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .pricing-columns {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
      padding: 30px;
    }

    .pricing-card {
      background-color: #1e1e1e;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.5);
      width: 300px;
      overflow: hidden;
      transition: transform 0.3s ease;
    }

    .pricing-card:hover {
      transform: translateY(-10px);
    }

    .pricing-card-header {
      background-color: #2a2a2a;
      padding: 20px;
      text-align: center;
    }

    .pricing-title {
      font-size: 1.8em;
      margin: 0;
      text-transform: uppercase;
    }

    .pricing-price {
      font-size: 2em;
      color: #4ac1f7;
      margin-top: 10px;
    }

    .pricing-old-price {
      font-size: 2em;
      color: indianred;
      text-decoration: line-through;
      margin-top: 10px;
    }

    .pricing-price-promo {
      font-size: 2em;
      color: #2ecc71;
      margin-top: 10px;
    }

    .pricing-table-content {
      padding: 20px;
      border-top: 1px solid #333;
    }

    .pricing-table-row {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    .pricing-icon {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }

    .pricing-row-text {
      flex: 1;
    }

    .muted {
      opacity: 0.6;
    }

    .pricing-small-text {
      font-size: 0.9em;
      text-align: center;
      color: #aaa;
      margin-top: 20px;
    }

    /* Mise en valeur de la carte Premium */
    .pricing-card.middle {
      transform: scale(1.05);
      border: 2px solid #1a73e8;

    }

    .pricing-toggle{
      display:flex;
      justify-content:center;
      align-items:center;
      gap:.5rem;
      margin-bottom:2.5rem;
    }

    .pricing-toggle .toggle-btn{
      padding:.75rem 1.5rem;
      font-weight:600;
      border-radius:.5rem;
      border:2px solid #3B82F6;
      background:transparent;
      color:#3B82F6;
      cursor:pointer;
      transition:all .3s ease;
    }

    .pricing-toggle .toggle-btn.active,
    .pricing-toggle .toggle-btn:hover{
      background:#3B82F6;
      color:#ffffff;
    }

    .hidden-plan{
      display:none;
    }
  </style>
{% endblock %}
