


<footer style=" bottom: 0; left: 0; width: 100%; display: flex; justify-content: space-between; align-items: center; padding: 20px; background-color: #1f1e23; color: #fff;">
    <div>
        <img class="h-6" src="https://kodoshinstaticfiles.blob.core.windows.net/mediafiles/images/Kodoshin logo.png" alt="Logo"/>
        <div style="margin-top: 10px;">
            <a href="https://www.facebook.com/profile.php?id=61569572708197" style="color: #fff; text-decoration: none; margin-right: 10px;"><i class="fab fa-facebook-f"></i></a>
            <a href="https://x.com/KodoshinAi" style="color: #fff; text-decoration: none; margin-right: 10px;"><i class="fab fa-x"></i></a>
            <a href="https://www.linkedin.com/company/kodoshin-ai/" style="color: #fff; text-decoration: none; margin-right: 10px;"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" style="color: #fff; text-decoration: none; margin-right: 10px;"><i class="fab fa-hacker-news"></i></a>
            <a href="#" style="color: #fff; text-decoration: none; margin-right: 10px;"><i class="fab fa-youtube"></i></a>
            <a href="#" style="color: #fff; text-decoration: none;"><i class="fab fa-reddit"></i></a>
        </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: flex-start;">

        <br>
        <p>&copy; 2025 Kodoshin AI, INC.</p>
        <div>
            <a href="/privacy-policy" style="color: #fff; text-decoration: none; margin-right: 15px;">Privacy Policy</a>
            <a href="/terms-of-service" style="color: #fff; text-decoration: none; margin-right: 15px;">Terms of Service</a>
            <a href="/legal-center" style="color: #fff; text-decoration: none;">Legal Center</a>
        </div>
    </div>

</footer>

<!-- S'assurer d'inclure FontAwesome pour les icônes -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

