<title>Update project</title>

{% extends 'layouts/blank.html' %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'git_auth/css/styles.css' %}">

{% block content %}


<form method="POST" action="{% url 'process_selected_files' git_repo_id=file_tree.git_repo_id repo_name=file_tree.repo_name %}">
    {% csrf_token %}
    <input type="hidden" name="project_id" value="{{ project.id }}">
    <div class="container" style="background-color: unset">
        <h1 class="repo-name" style="color: white; margin-bottom: 25px;">{{ file_tree.repo_name }}</h1>
        <h4 style="color: darkred">Modified Files</h4>
        <ul class="file-tree">
            {% for item in file_tree.file_tree %}
                {% include 'git_auth/file_item.html' with item=item %}
            {% endfor %}
        </ul>


        <h4 style="color: darkred">Deleted Files</h4>
        <ul>
            {% if deleted_files %}
                {% for deleted_file in deleted_files %}
                    <li style="color:#444d56">{{ deleted_file }}</li>
                    <input type="hidden" name="deleted_file" value="{{ deleted_file }}">
                {% endfor %}
            {% else %}
                <li style="color:#444d56">0 files</li>
            {% endif %}
        </ul>

    </div>
    <div style="margin-left: 20%;">
        <button type="submit">Submit</button>
    </div>
</form>

<script>
document.addEventListener("DOMContentLoaded", function() {
    // Sélection de tous les dossiers
    const folders = document.querySelectorAll('.folder');

    folders.forEach(folder => {
        folder.addEventListener('click', function() {
            console.log("Clique sur le dossier :", folder.innerText);
            const parentLi = folder.closest('li.file-item');
            if (!parentLi) return;

            const subUl = parentLi.querySelector('ul.file-tree');
            if (subUl) {
                subUl.classList.toggle('hidden');
            }
        });
    });
});
</script>


{% endblock %}









